{%extends "./plantilla.html"%} {%load static %} {% block contenido %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header" style="zoom: 1.3">
      <h3 class="page-title">Contactar</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Enviar Correo
          </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center">Formulario de <em>Contacto</em></h3>
            <form
              action="/enviar_correo/"
              class="border m-4 p-4"
              method="POST"
              id="formCorreo"
            >
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <label for="">Direccion de correo electronico</label>
                  <input
                    type="email"
                    class="form-control"
                    name="destinatario"
                    id="destinatario"
                  />
                </div>
                <div class="col-md-6">
                  <label for="">Asunto</label>
                  <input
                    type="text"
                    class="form-control"
                    name="asunto"
                    id="asunto"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label for="">Mensaje</label>
                  <textarea
                    type="text"
                    class="form-control"
                    name="cuerpo"
                    id="cuerpo"
                  ></textarea>
                </div>
              </div>
              <center class="m-2">
                <button type="submit" class="btn btn-outline-success">
                  Enviar
                </button>
                <button type="reset" class="btn btn-outline-info">
                  Cancelar
                </button>
              </center>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
