{%extends './home.html'%} {%block contenido%} {%load static%}
<div class="container">
  <h3 class="text-center">Editar <em>Curso</em></h3>
  <div class="row">
    <div class="col-md-12">
      <form
        id="formCursosWATT"
        action="/actualizarCurso/"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="row">
          <input
            type="hidden"
            required
            class="form-control m-3"
            placeholder="ID"
            value="{{curso.idCursoWATT}}"
            name="idCursoWATT"
            id="idCursoWATT"
          />
          <div class="col-md-6">
            <fieldset>
              <label for="">Nivel</label>
              <input
                name="nivelCursoWATT"
                id="nivelCursoWATT"
                value="{{curso.nivelCursoWATT}}"
                type="text"
                class="form-control"
                placeholder="7mo"
                required=""
              />
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <label for="">Aula</label>
              <input
                name="aulaCursoWATT"
                id="aulaCursoWATT"
                value="{{curso.aulaCursoWATT}}"
                type="text"
                class="form-control"
                placeholder="Aula 1"
                required=""
              />
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <fieldset>
              <label for="">Horario Actual</label>
              {% if curso.horarioCursoWATT %}
              <a href="{{curso.horarioCursoWATT.url}}" target="_blank"
                ><img
                  src="{{curso.horarioCursoWATT.url}}"
                  alt="Horario"
                  class="img-fluid"
              /></a>
              {% else %}
              <p>No hay Horario</p>
              {% endif %}
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <label for="">Actualizar horario (Opcional)</label>
              <input
                name="horarioCursoWATT"
                id="horarioCursoWATT"
                value="{{curso.horarioCursoWATT}}"
                type="file"
                accept="image/*"
                class="form-control"
                required=""
              />
            </fieldset>
          </div>
          <div class="col-md-12">
            <fieldset>
              <label for="">Curso</label>
              <select
                name="idCarreraWATT"
                id="idCarreraWATT"
                data-live-search="true"
                data-live-search-style="startsWith"
                class="form-control selectpicker"
              >
                <option value="">-- Seleccione una opcion --</option>
                {% for carrera in carreras %}
                <option value="{{carrera.idCarreraWATT}}">
                  {{carrera.nombreCarreraWATT}}
                </option>
                {% endfor %}
              </select>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <fieldset>
              <label for="">Descripcion</label>
              <textarea
                name="descripcionCursoWATT"
                id="descripcionCursoWATT"
                class="form-control"
                rows="4"
                placeholder="Alguna descripcion del curso"
                required=""
              >
{{curso.descripcionCursoWATT}}</textarea
              >
            </fieldset>
          </div>
        </div>
        <div class="col-md-12">
          <center class="m-3">
            <button type="submit" class="btn btn-success">Actualizar</button>
            <a class="btn btn-info" href="/listaCurso">Cancelar</a>
          </center>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  document.getElementById('idCarreraWATT').value =
    '{{curso.carrera.idCarreraWATT}}'
</script>
{% endblock %}
