{%extends './home.html'%} {%block contenido%} {%load static%}
<div class="container m-4">
  <h3 class="text-center">Registrar <em>Asignaturas</em></h3>
  <div class="col-md-12">
    <form
      id="formAsignaturasWATT"
      action="/actualizarAsignatura/"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="row">
        <input
          name="idAsignaturaWATT"
          id="idAsignaturaWATT"
          type="hidden"
          class="form-control"
          value="{{asignatura.idAsignaturaWATT}}"
          required
        />
        <div class="col-md-6">
          <fieldset>
            <label for="">Nombre</label>
            <input
              name="nombreAsignaturaWATT"
              id="nombreAsignaturaWATT"
              value="{{asignatura.nombreAsignaturaWATT}}"
              type="text"
              class="form-control"
              placeholder="Desarrollo Web"
              required=""
            />
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset>
            <label for="">Creditos</label>
            <input
              name="creditosAsignaturaWATT"
              id="creditosAsignaturaWATT"
              value="{{asignatura.creditosAsignaturaWATT}}"
              type="number"
              class="form-control"
              placeholder="35"
              required=""
            />
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <fieldset>
            <label for="">Fecha de Inicio</label>
            <input
              name="fechaInicioAsignaturaWATT"
              id="fechaInicioAsignaturaWATT"
              value="{{asignatura.fechaInicioAsignaturaWATT | date:'Y-m-d'}}"
              type="date"
              class="form-control"
              required=""
            />
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset>
            <label for="">Fecha de Finalizacion</label>
            <input
              name="fechaFinalizacionAsignaturaWATT"
              id="fechaFinalizacionAsignaturaWATT"
              value="{{asignatura.fechaFinalizacionAsignaturaWATT | date:'Y-m-d'}}"
              type="date"
              class="form-control"
              required=""
            />
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <fieldset>
            <label for="">Profesor</label>
            <input
              name="profesorAsignaturaWATT"
              id="profesorAsignaturaWATT"
              value="{{asignatura.profesorAsignaturaWATT}}"
              type="text"
              class="form-control"
              placeholder="Ing. Juan Perez"
              required=""
            />
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <fieldset>
            <label for="">Silabo Actual</label>
            {% if asignatura.silaboAsignaturaWATT %}
            <a
              href="{{asignatura.silaboAsignaturaWATT.url}}"
              class="btn btn-info"
              target="_blank"
            >
              <i class="mdi mdi-eye"></i> Ver Silabo
            </a>
            {% else %}
            <p>No hay Silabo</p>
            {% endif %}
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset>
            <label for="">Actualizar silabo opcional</label>
            <input
              name="silaboAsignaturaWATT"
              id="silaboAsignaturaWATT"
              value="{{asignatura.silaboAsignaturaWATT}}"
              type="file"
              accept="pdf/*"
              class="form-control"
              required=""
            />
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <fieldset>
            <label for="">Departamento</label>
            <input
              name="departamentoAsignaturaWATT"
              id="departamentoAsignaturaWATT"
              value="{{asignatura.departamentoAsignaturaWATT}}"
              type="text"
              class="form-control"
              placeholder="DESWEB / BDD"
              required=""
            />
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset>
            <label for="">Curso</label>
            <select
              name="idCursoWATT"
              id="idCursoWATT"
              data-live-search="true"
              data-live-search-style="startsWith"
              class="form-control selectpicker"
              required
            >
              <option value="">-- Seleccione una opcion --</option>
              {% for curso in cursos %}
              <option value="{{curso.idCursoWATT}}">
                {{curso.nivelCursoWATT}}
              </option>
              {% endfor %}
            </select>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <fieldset>
            <label for="">Descripcion</label>
            <textarea
              name="descripcionAsignaturaWATT"
              id="descripcionAsignaturaWATT"
              type="text"
              rows="4"
              class="form-control"
              placeholder="Alguna descripcion"
              required=""
            >
{{asignatura.descripcionAsignaturaWATT}}</textarea
            >
          </fieldset>
        </div>
      </div>
      <div class="col-md-12">
        <center class="m-4">
          <button type="submit" id="" class="btn btn-success">
            Actualizar
          </button>
          <a class="btn btn-info" href="/listaAsignatura">Cancelar</a>
        </center>
      </div>
    </form>
  </div>
</div>
<script>
  document.getElementById('idCursoWATT').value =
    '{{asignatura.curso.idCursoWATT}}'
</script>
{% endblock %}
