{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>UniversidadWATT</title>
    <!--Importacion de cdn jquery-->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>

    <!--Importacion de data tables-->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"
    />
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script
      type="text/javascript"
      src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"
    ></script>

    <!--Importacion de Librerias-->
    <script src="{% static 'libraries/jquery-validate/jquery.validate.js'%}"></script>
    <!-- Validaciones:js -->
    <script src="{% static 'js/formSchemas.js'%}"></script>
    <!-- Bootstrap Fileinput JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/fileinput.min.js"></script>
    <!-- español fileinput -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/locales/es.min.js"></script>

    <!--Importacion de FileInput-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/css/fileinput.min.css"
    />
    <script src="{% static 'js/inputFile.js'%}"></script>

    <!--Importacion de bootstrap select
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script> -->
    <!--Importacion de Chartjs-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/graficos.js' %}"></script>

    <!--<script src="{% static 'vendors/js/vendor.bundle.base.js' %}">
    </script>
    -->
    <!-- endinject -->
    <!-- inject:js -->
    <!--
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>-->
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.base.css' %}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'vendors/jvectormap/jquery-jvectormap.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/owl-carousel-2/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/owl-carousel-2/owl.theme.default.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="shortcut icon" href="{% static 'images/school.svg' %}" />
    <!--Importacion de Izi toast alertas-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"
      integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
      integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'js/messageDelete.js' %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div
          class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top"
        >
          <a
            class="sidebar-brand brand-logo"
            style="color: #ffffff"
            href="/enviar_correo"
            >Universidad
          </a>
          <a class="sidebar-brand brand-logo-mini" href="/"
            ><img src="{%static 'images/logo-mini.svg'%}" alt="logo"
          /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img
                    class="img-xs rounded-circle"
                    src="https://concepto.de/wp-content/uploads/2015/03/software-1-e1550080097569.jpg"
                    alt="Usuario"
                  />
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">AlexHolaMundo</h5>
                  <span>Usuario Premium</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"
                ><i class="mdi mdi-dots-vertical"></i
              ></a>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/enviar_correo">
              <span class="menu-icon">
                <i class="mdi mdi-email"></i>
              </span>
              <span class="menu-title">Contacto</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/listaCarrera">
              <span class="menu-icon">
                <i class="mdi mdi-school"></i>
              </span>
              <span class="menu-title">Carrera</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/listaCurso">
              <span class="menu-icon">
                <i class="mdi mdi-bulletin-board"></i>
              </span>
              <span class="menu-title">Cursos</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/listaAsignatura">
              <span class="menu-icon">
                <i class="mdi mdi-book-minus"></i>
              </span>
              <span class="menu-title">Asignaturas</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="container page-body-wrapper">
        {% block contenido %} {% endblock %}
      </div>
    </div>
    {% if messages %} {% for message in messages %}
    <script>
      iziToast.success({
        title: 'ATENCION',
        message: '{{message}}',
        position: 'topLeft',
      })
    </script>
    {% endfor %} {% endif %}
  </body>
  <script src="{% static 'js/pagination.js' %}"></script>
</html>
