{%extends './home.html'%} {%block contenido%} {% load static %}
<div class="container m-4">
  <h3 class="text-center">Registrar <em>Carrera</em></h3>
  <div class="row">
    <div class="col-md-12">
      <form
        id="formCarreraWATT"
        action="/crearCarrera/"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <fieldset>
              <label for=""> Nombre</label>
              <input
                name="nombreCarreraWATT"
                id="nombreCarreraWATT"
                type="text"
                class="form-control"
                placeholder="Sistemas"
                required=""
              />
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <fieldset>
              <label for="">Logo</label>
              <input
                name="logoCarreraWATT"
                id="logoCarreraWATT"
                type="file"
                accept="image/*"
                class="form-control"
                required=""
              />
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <fieldset>
              <label for="">Director</label>
              <input
                name="directorCarreraWATT"
                id="directorCarreraWATT"
                type="text"
                class="form-control"
                placeholder="Mcs. Juan Perez"
                required=""
              />
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <label for="">Fecha de creacion</label>
              <input
                name="fechaCreacionCarreraWATT"
                id="fechaCreacionCarreraWATT"
                type="date"
                class="form-control"
                required=""
              />
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <fieldset>
              <label for="">Descripcion</label>
              <textarea
                name="descripcionCarreraWATT"
                id="descripcionCarreraWATT"
                rows="4"
                class="form-control"
                placeholder="Descripcion de la carrera"
                required=""
              ></textarea>
            </fieldset>
          </div>
        </div>
        <center class="col-md-12 m-4">
          <fieldset>
            <button type="submit" id="" class="btn btn-success">
              Registrar
            </button>
            <button type="reset" class="btn btn-info">Cancelar</button>
          </fieldset>
        </center>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered" id="tableCarreras">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Logo</th>
            <th scope="col">Director</th>
            <th scope="col">Fecha de creacion</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for carrera in carreras %}
          <tr>
            <td class="text-center">{{carrera.idCarreraWATT}}</td>
            <td class="text-center">{{carrera.nombreCarreraWATT}}</td>
            <td class="text-center">
              {% if carrera.logoCarreraWATT %}
              <a href="{{carrera.logoCarreraWATT.url}}" target="_blank">
                <img
                  src="{{carrera.logoCarreraWATT.url}}"
                  alt=""
                  width="50px"
                  height="50px"
                />
              </a>
              {% else %}
              <b>N/A</b>
              {% endif %}
            </td>
            <td class="text-center">{{carrera.directorCarreraWATT}}</td>
            <td class="text-center">{{carrera.fechaCreacionCarreraWATT}}</td>
            <td class="text-center">{{carrera.descripcionCarreraWATT}}</td>
            <td class="text-center">
              <a
                href="/editarCarrera/{{carrera.idCarreraWATT}}"
                class="btn btn-warning"
              >
                <i class="mdi mdi-pencil"></i>
              </a>
              <a
                href="javascript:void(0);"
                type="button"
                class="btn btn-danger"
                onclick="eliminarCarrera(' /eliminarCarrera/{{carrera.idCarreraWATT}} ')"
              >
                <i class="mdi mdi-delete"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
    <center>
      <button
        id="toggleChartButton"
        onclick="toggleChart()"
        class="btn btn-info"
      >
        Mostrar/ocultar gráfico
      </button>
    </center>
    <div
      id="chartContainer"
      style="
        margin: auto;
        border: 2px solid black;
        padding: 10px;
        display: none;
        margin: 50px;
      "
    >
      <canvas id="chartCarrera"></canvas>
    </div>
  </div>
</div>

{% endblock %}
